calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}

.calendar-container {
    border: 2px solid skyblue;
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.calendar-header {
    border-bottom: 1px dashed skyblue;
    font-size: 50px;
    font-weight: bolder;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
    padding-bottom: 5px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 40px;
}

.week-day {
    font-size: 25px;
    font-weight: bold;
}

.day {
    font-size: 20px;
    font-weight: lighter;
}

.day {
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.current-day {
    background-color: #4285f4;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: white;
}
.selected-day {
    background-color:yellow;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: black;
}

.month-popup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
}

.month-popup div {
    padding: 0.3em;
}

.nav-month {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.prev {
    float: left;
    cursor: pointer;
    padding-top: 13px;
    font-size: 25px;
}

.next {
    float: right;
    cursor: pointer;
    padding-top: 13px;
    font-size: 25px;
}

.editor-year {
    max-width: 3.6em;
}

.label-month,
.label-year {
    font-size: 0.6em;
}

.label-month {
    cursor: pointer;
}

.daysOtherMonth {
    color: gray;
    font-weight: lighter;
}

.dayLink {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

a:hover, a:link, a:active {
    color: black;
    text-decoration: none;
}